.cart_wrap {
    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 1px;
    height: 218px;
    width: 440px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 10px 4px 0px 0px rgb(0 0 255 / 15%)

}
.cart_wrap:hover{
    transform: translate(-3px, -3px)
}
.projectname {
    width: 400px;
    height: 23px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author {
    width: 64px;
    height: 21px;
    margin-left: 1px;
}
.groupone {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.grouptwo { 
    display: flex;
    cursor: pointer;
    align-content: center;
}
.groupthree {
    display: flex;
}

.count_star{
    margin-right: 10px;
}
.input {
    width: 450px;
}