.wrap {
    height: 70px;
}

.pole {
    height: 40px;
    width: 300px;
}
.rect1 {
    display: flex;
    width: 100%;
    height: 80px;
    background: #DDDDDD;
    justify-content: center;
    align-items: center;

}

.img{
    cursor: pointer;
    width: 45px;
}
